@using System.Globalization
@model ICollection<NhaXeMaiLinh.Models.Data.VeXe>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Vé xe";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Mã vé</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Tuyến đường</th>
            <th scope="col">Khuyến mãi</th>
            <th scope="col">Tiền vé</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            @foreach (var ve in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ve.VeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ve.KhachHang.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ve.LichTrinh.TuyenDuong.TenTuyenDuong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ve.KhuyenMai!.TenKhuyenMai)
                    </td>
                    <td>
                        @string.Format(CultureInfo.InvariantCulture, "{0:N0} đ", ve.TongGiaVe)
                    </td>
                    <td class="d-inline-flex">
                        <a asp-action="Accept" asp-route-id="@ve.VeID" class="btn btn-success" >Chấp nhận</a><span class="px-2">|</span>
                        <a asp-action="Deny" asp-route-id="@ve.VeID" class="btn btn-danger">Từ chối</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">
                    <p class="fs-3 fw-bold text-center">Không có dữ liệu :(</p>
                </td>
            </tr>
        }
    </tbody>
</table>